<nav id="main-nav" aria-label="Main navigation">
    <a href="{{BASE_PATH}}index.html" class="nav-logo" id="nav-logo">
        <img src="{{BASE_PATH}}Images/airoam-logo-black.svg" alt="Airoam - Airbnb property management Australia" class="logo">
    </a>
    <div class="nav-center">
        <a href="{{BASE_PATH}}index.html#about">About</a>
        <a href="{{BASE_PATH}}index.html#pricing">Pricing</a>
        <a href="{{BASE_PATH}}blog.html">Blog</a>
        <a href="{{BASE_PATH}}index.html#contact">Contact</a>
    </div>
    <a href="{{BASE_PATH}}index.html#contact" class="nav-button">Get Started</a>
    <button type="button" class="nav-hamburger" id="nav-hamburger" aria-label="Open menu">
        <span></span>
        <span></span>
        <span></span>
    </button>
</nav>
<div class="nav-mobile-menu" id="nav-mobile-menu" aria-hidden="true">
    <a href="{{BASE_PATH}}index.html#about">About</a>
    <a href="{{BASE_PATH}}index.html#pricing">Pricing</a>
    <a href="{{BASE_PATH}}blog.html">Blog</a>
    <a href="{{BASE_PATH}}index.html#contact">Contact</a>
    <a href="{{BASE_PATH}}index.html#contact">Get Started</a>
</div>
